

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


















.fieldset {
    width:280px;
    padding:5px;
    background-color:#e3e3e3;
    margin:10px auto;
}

.fieldsetheader {
    background-color:#357fc2;
    font-size:120%;
    text-align:center;
    padding:5px;
    color:#ffffff;
}